In [63]:
import pandas as pd

In [64]:
import pandas as pd  ##importing numpy  , import is key word , as is alias , np is alias 
print(pd.__version__)

2.3.0

In [65]:
%pip install pandas 
import pandas

Requirement already satisfied: pandas in c:\users\rahul\appdata\local\programs\python\python311\lib\site-packages (2.3.0)
Requirement already satisfied: numpy>=1.23.2 in c:\users\rahul\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\rahul\appdata\roaming\python\python311\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\rahul\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\rahul\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\rahul\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [66]:
# duplicated
# Null
# nan
# balance Dataset 



# maths 
# encodding>>>>>>>>> 
# one hot encoding 
# label encoding 
# mapping 
# string

In [67]:
import pandas as pd

In [68]:
df = pd.read_csv("used_bikes.csv")
df

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha
...,...,...,...,...,...,...,...,...
32643,Hero Passion Pro 100cc,39000.0,Delhi,22000.0,First Owner,4.0,100.0,Hero
32644,TVS Apache RTR 180cc,30000.0,Karnal,6639.0,First Owner,9.0,180.0,TVS
32645,Bajaj Avenger Street 220,60000.0,Delhi,20373.0,First Owner,6.0,220.0,Bajaj
32646,Hero Super Splendor 125cc,15600.0,Jaipur,84186.0,First Owner,16.0,125.0,Hero
32647,Bajaj Pulsar 150cc,22000.0,Pune,60857.0,First Owner,13.0,150.0,Bajaj

In [69]:
df.head()

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha

In [70]:
df.tail()

,bike_name,price,city,kms_driven,owner,age,power,brand
32643,Hero Passion Pro 100cc,39000.0,Delhi,22000.0,First Owner,4.0,100.0,Hero
32644,TVS Apache RTR 180cc,30000.0,Karnal,6639.0,First Owner,9.0,180.0,TVS
32645,Bajaj Avenger Street 220,60000.0,Delhi,20373.0,First Owner,6.0,220.0,Bajaj
32646,Hero Super Splendor 125cc,15600.0,Jaipur,84186.0,First Owner,16.0,125.0,Hero
32647,Bajaj Pulsar 150cc,22000.0,Pune,60857.0,First Owner,13.0,150.0,Bajaj

In [71]:
df.head(9)

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha
5,Yamaha FZs 150cc,53499.0,Delhi,25000.0,First Owner,6.0,150.0,Yamaha
6,Honda CB Hornet 160R ABS DLX,85000.0,Delhi,8200.0,First Owner,3.0,160.0,Honda
7,Hero Splendor Plus Self Alloy 100cc,45000.0,Delhi,12645.0,First Owner,3.0,100.0,Hero
8,Royal Enfield Thunderbird X 350cc,145000.0,Bangalore,9190.0,First Owner,3.0,350.0,Royal Enfield

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32648 entries, 0 to 32647
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   bike_name   32648 non-null  object
 1   price       32648 non-null  float64
 2   city        32648 non-null  object
 3   kms_driven  32648 non-null  float64
 4   owner       32648 non-null  object
 5   age         32648 non-null  float64
 6   power       32648 non-null  float64
 7   brand       32648 non-null  object
dtypes: float64(4), object(4)
memory usage: 2.0+ MB

In [73]:
df.describe()

              price     kms_driven           age         power
count  3.264800e+04   32648.000000  32648.000000  32648.000000
mean   6.829542e+04   26344.625184      8.048211    213.511302
std    9.071860e+04   22208.527695      4.031700    134.428868
min    4.400000e+03       1.000000      1.000000    100.000000
25%    2.500000e+04   12000.000000      5.000000    150.000000
50%    4.300000e+04   20373.000000      7.000000    150.000000
75%    8.000000e+04   35000.000000     10.000000    220.000000
max    1.900000e+06  750000.000000     63.000000   1800.000000

In [74]:
df.dtypes

bike_name      object
price         float64
city           object
kms_driven    float64
owner          object
age           float64
power         float64
brand          object
dtype: object

In [75]:
df.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
32643     True
32644     True
32645     True
32646     True
32647     True
Length: 32648, dtype: bool

In [76]:
df.duplicated().sum()

np.int64(25324)

In [77]:
df.isnull()

       bike_name  price   city  kms_driven  owner    age  power  brand
0          False  False  False       False  False  False  False  False
1          False  False  False       False  False  False  False  False
2          False  False  False       False  False  False  False  False
3          False  False  False       False  False  False  False  False
4          False  False  False       False  False  False  False  False
...          ...    ...    ...         ...    ...    ...    ...    ...
32643      False  False  False       False  False  False  False  False
32644      False  False  False       False  False  False  False  False
32645      False  False  False       False  False  False  False  False
32646      False  False  False       False  False  False  False  False
32647      False  False  False       False  False  False  False  False

[32648 rows x 8 columns]

In [78]:
df.isnull().sum()

bike_name     0
price         0
city          0
kms_driven    0
owner         0
age           0
power         0
brand         0
dtype: int64

In [79]:
df.drop_duplicates(inplace=True)  ###inplace == true
df

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha
...,...,...,...,...,...,...,...,...
9362,Hero Hunk Rear Disc 150cc,25000.0,Delhi,48587.0,First Owner,8.0,150.0,Hero
9369,Bajaj Avenger 220cc,35000.0,Bangalore,60000.0,First Owner,9.0,220.0,Bajaj
9370,Harley-Davidson Street 750 ABS,450000.0,Jodhpur,3430.0,First Owner,4.0,750.0,Harley-Davidson
9371,Bajaj Dominar 400 ABS,139000.0,Hyderabad,21300.0,First Owner,4.0,400.0,Bajaj
9372,Bajaj Avenger Street 220,80000.0,Hyderabad,7127.0,First Owner,5.0,220.0,Bajaj

In [80]:
df.duplicated().sum()

np.int64(0)

In [81]:
# df.dropna()  ###remove null data  values from data set 
df

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha
...,...,...,...,...,...,...,...,...
9362,Hero Hunk Rear Disc 150cc,25000.0,Delhi,48587.0,First Owner,8.0,150.0,Hero
9369,Bajaj Avenger 220cc,35000.0,Bangalore,60000.0,First Owner,9.0,220.0,Bajaj
9370,Harley-Davidson Street 750 ABS,450000.0,Jodhpur,3430.0,First Owner,4.0,750.0,Harley-Davidson
9371,Bajaj Dominar 400 ABS,139000.0,Hyderabad,21300.0,First Owner,4.0,400.0,Bajaj
9372,Bajaj Avenger Street 220,80000.0,Hyderabad,7127.0,First Owner,5.0,220.0,Bajaj

In [82]:
df['brand']

0                   TVS
1         Royal Enfield
2               Triumph
3                   TVS
4                Yamaha
             ...
9362               Hero
9369              Bajaj
9370    Harley-Davidson
9371              Bajaj
9372              Bajaj
Name: brand, Length: 7324, dtype: object

In [83]:
df['brand'].unique()

array(['TVS', 'Royal Enfield', 'Triumph', 'Yamaha', 'Honda', 'Hero',
       'Bajaj', 'Suzuki', 'Benelli', 'KTM', 'Mahindra', 'Kawasaki',
       'Ducati', 'Hyosung', 'Harley-Davidson', 'Jawa', 'BMW', 'Indian',
       'Rajdoot', 'LML', 'Yezdi', 'MV', 'Ideal'], dtype=object)

In [84]:
df['brand'].nunique()

23

In [85]:
df['brand'].value_counts()

brand
Bajaj              2081
Royal Enfield      1346
Hero               1142
Honda               676
Yamaha              651
TVS                 481
KTM                 375
Suzuki              203
Harley-Davidson      91
Kawasaki             61
Hyosung              53
Mahindra             50
Benelli              46
Triumph              21
Ducati               20
BMW                  10
Jawa                  7
Indian                3
MV                    3
Rajdoot               1
LML                   1
Yezdi                 1
Ideal                 1
Name: count, dtype: int64

In [86]:
df

,bike_name,price,city,kms_driven,owner,age,power,brand
0,TVS Star City Plus Dual Tone 110cc,35000.0,Ahmedabad,17654.0,First Owner,3.0,110.0,TVS
1,Royal Enfield Classic 350cc,119900.0,Delhi,11000.0,First Owner,4.0,350.0,Royal Enfield
2,Triumph Daytona 675R,600000.0,Delhi,110.0,First Owner,8.0,675.0,Triumph
3,TVS Apache RTR 180cc,65000.0,Bangalore,16329.0,First Owner,4.0,180.0,TVS
4,Yamaha FZ S V 2.0 150cc-Ltd. Edition,80000.0,Bangalore,10000.0,First Owner,3.0,150.0,Yamaha
...,...,...,...,...,...,...,...,...
9362,Hero Hunk Rear Disc 150cc,25000.0,Delhi,48587.0,First Owner,8.0,150.0,Hero
9369,Bajaj Avenger 220cc,35000.0,Bangalore,60000.0,First Owner,9.0,220.0,Bajaj
9370,Harley-Davidson Street 750 ABS,450000.0,Jodhpur,3430.0,First Owner,4.0,750.0,Harley-Davidson
9371,Bajaj Dominar 400 ABS,139000.0,Hyderabad,21300.0,First Owner,4.0,400.0,Bajaj
9372,Bajaj Avenger Street 220,80000.0,Hyderabad,7127.0,First Owner,5.0,220.0,Bajaj

In [87]:
 #bhaya mere ko 
# tvs 
# kms 50000
# price = 50000
# owner = 1st

In [88]:
# TVS_df = df[df['brand'].str.lower() == "TVS"]
# brand_df

In [89]:
# kms_df = brand_df[brand_df['kms_driven'] <= 50000]
# kms_df

In [90]:
# price_df = kms_df[kms_df['price'] <= 50000]
# price_df

In [91]:
# owner_df = price_df[price_df['owner'] == "First Owner"]
# owner_df

In [92]:
# brand = "hero"
# price = under 70k
# age =<2 years
# first owner  
# power 150cc

In [93]:
hero_df = df[df['brand'] == "Hero"]
hero_df

,bike_name,price,city,kms_driven,owner,age,power,brand
7,Hero Splendor Plus Self Alloy 100cc,45000.0,Delhi,12645.0,First Owner,3.0,100.0,Hero
22,Hero Splendor iSmart Plus IBS 110cc,46500.0,Delhi,3500.0,First Owner,2.0,110.0,Hero
26,Hero Super Splendor 125cc,20000.0,Ahmedabad,29305.0,First Owner,16.0,125.0,Hero
48,Hero Hunk 150cc,37000.0,Mumbai,10800.0,First Owner,8.0,150.0,Hero
66,Hero CD Deluxe 100cc,12200.0,Agra,46643.0,First Owner,14.0,100.0,Hero
...,...,...,...,...,...,...,...,...
9316,Hero Glamour Fi 125cc,37000.0,Delhi,28478.0,First Owner,5.0,125.0,Hero
9339,Hero Splendor Plus 100cc,11400.0,Gurgaon,20000.0,Second Owner,17.0,100.0,Hero
9341,Hero CD Deluxe 100cc,25000.0,Sidhi,11122.0,First Owner,11.0,100.0,Hero
9343,Hero Passion Plus 100cc,24000.0,Hyderabad,68000.0,First Owner,14.0,100.0,Hero
9362,Hero Hunk Rear Disc 150cc,25000.0,Delhi,48587.0,First Owner,8.0,150.0,Hero

In [94]:
price_df = hero_df[hero_df['price'] <=70000]
price_df

,bike_name,price,city,kms_driven,owner,age,power,brand
7,Hero Splendor Plus Self Alloy 100cc,45000.0,Delhi,12645.0,First Owner,3.0,100.0,Hero
22,Hero Splendor iSmart Plus IBS 110cc,46500.0,Delhi,3500.0,First Owner,2.0,110.0,Hero
26,Hero Super Splendor 125cc,20000.0,Ahmedabad,29305.0,First Owner,16.0,125.0,Hero
48,Hero Hunk 150cc,37000.0,Mumbai,10800.0,First Owner,8.0,150.0,Hero
66,Hero CD Deluxe 100cc,12200.0,Agra,46643.0,First Owner,14.0,100.0,Hero
...,...,...,...,...,...,...,...,...
9316,Hero Glamour Fi 125cc,37000.0,Delhi,28478.0,First Owner,5.0,125.0,Hero
9339,Hero Splendor Plus 100cc,11400.0,Gurgaon,20000.0,Second Owner,17.0,100.0,Hero
9341,Hero CD Deluxe 100cc,25000.0,Sidhi,11122.0,First Owner,11.0,100.0,Hero
9343,Hero Passion Plus 100cc,24000.0,Hyderabad,68000.0,First Owner,14.0,100.0,Hero
9362,Hero Hunk Rear Disc 150cc,25000.0,Delhi,48587.0,First Owner,8.0,150.0,Hero

In [95]:
age_df = price_df[price_df['age'] <= 2]
age_df

,bike_name,price,city,kms_driven,owner,age,power,brand
22,Hero Splendor iSmart Plus IBS 110cc,46500.0,Delhi,3500.0,First Owner,2.0,110.0,Hero
121,Hero Splendor iSmart Plus IBS 110cc,48672.0,Ernakulam,608.0,First Owner,2.0,110.0,Hero
172,Hero Super Splendor 125cc,43778.0,Ernakulam,948.0,First Owner,2.0,125.0,Hero
176,Hero Splendor Plus Kick Alloy 100cc,48500.0,Delhi,5500.0,First Owner,2.0,100.0,Hero
197,Hero HF Deluxe i3s iBS 100cc,60000.0,Mumbai,4000.0,First Owner,2.0,100.0,Hero
328,Hero Passion Xpro 110cc,58000.0,Delhi,7758.0,First Owner,2.0,110.0,Hero
419,Hero Passion Pro 110cc Drum,56500.0,Delhi,10000.0,First Owner,2.0,110.0,Hero
492,Hero Splendor Plus IBS i3S 100cc,53300.0,Delhi,10000.0,First Owner,2.0,100.0,Hero
505,Hero Splendor Plus IBS i3S 100cc,65000.0,Delhi,2600.0,First Owner,2.0,100.0,Hero
708,Hero Splendor Plus Self Alloy 100cc,51300.0,Palakkad,2800.0,First Owner,2.0,100.0,Hero
787,Hero Xtreme 200R,66000.0,Faridabad,1112.0,First Owner,2.0,200.0,Hero
2479,Hero Splendor Plus IBS i3S 100cc,47167.0,Delhi,4664.0,First Owner,2.0,100.0,Hero
2631,Hero Splendor iSmart Plus IBS 110cc,50000.0,Delhi,11584.0,First Owner,2.0,110.0,Hero
2654,Hero Passion Pro i3S Alloy 100cc,60000.0,Ghaziabad,1877.0,First Owner,2.0,100.0,Hero
2952,Hero Passion Pro i3S Alloy 100cc IBS,62000.0,Mumbai,1800.0,First Owner,2.0,100.0,Hero
3029,Hero HF Deluxe Eco 100cc,55000.0,Gurgaon,2309.0,First Owner,2.0,100.0,Hero
3298,Hero Splendor Plus IBS i3S 100cc,56000.0,Delhi,1745.0,First Owner,2.0,100.0,Hero
3882,Hero Splendor Plus Self Alloy 100cc,55000.0,Faridabad,4195.0,First Owner,2.0,100.0,Hero
4055,Hero Splendor Plus Self Alloy 100cc,55000.0,Gurgaon,5238.0,First Owner,2.0,100.0,Hero
4512,Hero HF Deluxe Eco 100cc,41000.0,Faridabad,4544.0,First Owner,2.0,100.0,Hero
5933,Hero Super Splendor 125cc,57000.0,Noida,3200.0,First Owner,2.0,125.0,Hero
6613,Hero HF Deluxe self Alloy 100cc,39500.0,Faridabad,5448.0,First Owner,2.0,100.0,Hero
6981,Hero Passion Pro 110cc Drum,56000.0,Delhi,1168.0,First Owner,2.0,110.0,Hero
7381,Hero HF Deluxe Eco 100cc,46000.0,Faridabad,11309.0,First Owner,2.0,100.0,Hero

In [96]:
owner_df= age_df[age_df['owner'] == "First Owner"]
owner_df

,bike_name,price,city,kms_driven,owner,age,power,brand
22,Hero Splendor iSmart Plus IBS 110cc,46500.0,Delhi,3500.0,First Owner,2.0,110.0,Hero
121,Hero Splendor iSmart Plus IBS 110cc,48672.0,Ernakulam,608.0,First Owner,2.0,110.0,Hero
172,Hero Super Splendor 125cc,43778.0,Ernakulam,948.0,First Owner,2.0,125.0,Hero
176,Hero Splendor Plus Kick Alloy 100cc,48500.0,Delhi,5500.0,First Owner,2.0,100.0,Hero
197,Hero HF Deluxe i3s iBS 100cc,60000.0,Mumbai,4000.0,First Owner,2.0,100.0,Hero
328,Hero Passion Xpro 110cc,58000.0,Delhi,7758.0,First Owner,2.0,110.0,Hero
419,Hero Passion Pro 110cc Drum,56500.0,Delhi,10000.0,First Owner,2.0,110.0,Hero
492,Hero Splendor Plus IBS i3S 100cc,53300.0,Delhi,10000.0,First Owner,2.0,100.0,Hero
505,Hero Splendor Plus IBS i3S 100cc,65000.0,Delhi,2600.0,First Owner,2.0,100.0,Hero
708,Hero Splendor Plus Self Alloy 100cc,51300.0,Palakkad,2800.0,First Owner,2.0,100.0,Hero
787,Hero Xtreme 200R,66000.0,Faridabad,1112.0,First Owner,2.0,200.0,Hero
2479,Hero Splendor Plus IBS i3S 100cc,47167.0,Delhi,4664.0,First Owner,2.0,100.0,Hero
2631,Hero Splendor iSmart Plus IBS 110cc,50000.0,Delhi,11584.0,First Owner,2.0,110.0,Hero
2654,Hero Passion Pro i3S Alloy 100cc,60000.0,Ghaziabad,1877.0,First Owner,2.0,100.0,Hero
2952,Hero Passion Pro i3S Alloy 100cc IBS,62000.0,Mumbai,1800.0,First Owner,2.0,100.0,Hero
3029,Hero HF Deluxe Eco 100cc,55000.0,Gurgaon,2309.0,First Owner,2.0,100.0,Hero
3298,Hero Splendor Plus IBS i3S 100cc,56000.0,Delhi,1745.0,First Owner,2.0,100.0,Hero
3882,Hero Splendor Plus Self Alloy 100cc,55000.0,Faridabad,4195.0,First Owner,2.0,100.0,Hero
4055,Hero Splendor Plus Self Alloy 100cc,55000.0,Gurgaon,5238.0,First Owner,2.0,100.0,Hero
4512,Hero HF Deluxe Eco 100cc,41000.0,Faridabad,4544.0,First Owner,2.0,100.0,Hero
5933,Hero Super Splendor 125cc,57000.0,Noida,3200.0,First Owner,2.0,125.0,Hero
6613,Hero HF Deluxe self Alloy 100cc,39500.0,Faridabad,5448.0,First Owner,2.0,100.0,Hero
6981,Hero Passion Pro 110cc Drum,56000.0,Delhi,1168.0,First Owner,2.0,110.0,Hero
7381,Hero HF Deluxe Eco 100cc,46000.0,Faridabad,11309.0,First Owner,2.0,100.0,Hero

In [97]:
power_df = owner_df[owner_df['power'] == 200]
power_df

,bike_name,price,city,kms_driven,owner,age,power,brand
787,Hero Xtreme 200R,66000.0,Faridabad,1112.0,First Owner,2.0,200.0,Hero

In [98]:
df.drop(['bike_name','city'],axis=1,inplace=True)

In [99]:
df

         price  kms_driven        owner  age  power            brand
0      35000.0     17654.0  First Owner  3.0  110.0              TVS
1     119900.0     11000.0  First Owner  4.0  350.0    Royal Enfield
2     600000.0       110.0  First Owner  8.0  675.0          Triumph
3      65000.0     16329.0  First Owner  4.0  180.0              TVS
4      80000.0     10000.0  First Owner  3.0  150.0           Yamaha
...        ...         ...          ...  ...    ...              ...
9362   25000.0     48587.0  First Owner  8.0  150.0             Hero
9369   35000.0     60000.0  First Owner  9.0  220.0            Bajaj
9370  450000.0      3430.0  First Owner  4.0  750.0  Harley-Davidson
9371  139000.0     21300.0  First Owner  4.0  400.0            Bajaj
9372   80000.0      7127.0  First Owner  5.0  220.0            Bajaj

[7324 rows x 6 columns]

In [100]:
df.dtypes

price         float64
kms_driven    float64
owner          object
age           float64
power         float64
brand          object
dtype: object

In [101]:
owner_dict = {
    'First Owner':1,
    'Second Owner':2,
    'Third Owner':3,
    'Fourth Owner or more':4
}

In [102]:
owner_dict

{'First Owner': 1,
 'Second Owner': 2,
 'Third Owner': 3,
 'Fourth Owner or more': 4}

In [103]:
df['owner']=df['owner'].map(owner_dict)

In [104]:
df

         price  kms_driven  owner  age  power            brand
0      35000.0     17654.0    1.0  3.0  110.0              TVS
1     119900.0     11000.0    1.0  4.0  350.0    Royal Enfield
2     600000.0       110.0    1.0  8.0  675.0          Triumph
3      65000.0     16329.0    1.0  4.0  180.0              TVS
4      80000.0     10000.0    1.0  3.0  150.0           Yamaha
...        ...         ...    ...  ...    ...              ...
9362   25000.0     48587.0    1.0  8.0  150.0             Hero
9369   35000.0     60000.0    1.0  9.0  220.0            Bajaj
9370  450000.0      3430.0    1.0  4.0  750.0  Harley-Davidson
9371  139000.0     21300.0    1.0  4.0  400.0            Bajaj
9372   80000.0      7127.0    1.0  5.0  220.0            Bajaj

[7324 rows x 6 columns]

In [105]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7324 entries, 0 to 9372
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   price       7324 non-null   float64
 1   kms_driven  7324 non-null   float64
 2   owner       7314 non-null   float64
 3   age         7324 non-null   float64
 4   power       7324 non-null   float64
 5   brand       7324 non-null   object
dtypes: float64(5), object(1)
memory usage: 400.5+ KB

In [106]:
brand_dict = {
    'TVS':1,
    'Royal Enfield':2,
    'Triumph':3,
    'Yamaha':4,
    'Honda':5,
    'Hero':6,
    'Bajaj':7,
    'Suzuki':8,
    'Benelli':9,
    'KTM':10,
    'Mahindra':11,
    'Kawasaki':12,
    'Ducati':13,
    'Hyosung':14,
    'Harley-Davidson':15,
    'Jawa':16,
    'BMW':17,
    'Indian':18,
    'Rajdoot':19,
    'LML':20,
    'Yezdi':21,
    'MV':22,
    'Ideal':23
}

In [107]:
brand_dict

{'TVS': 1,
 'Royal Enfield': 2,
 'Triumph': 3,
 'Yamaha': 4,
 'Honda': 5,
 'Hero': 6,
 'Bajaj': 7,
 'Suzuki': 8,
 'Benelli': 9,
 'KTM': 10,
 'Mahindra': 11,
 'Kawasaki': 12,
 'Ducati': 13,
 'Hyosung': 14,
 'Harley-Davidson': 15,
 'Jawa': 16,
 'BMW': 17,
 'Indian': 18,
 'Rajdoot': 19,
 'LML': 20,
 'Yezdi': 21,
 'MV': 22,
 'Ideal': 23}

In [108]:
df['brand']=df['brand'].map(brand_dict)
df

         price  kms_driven  owner  age  power  brand
0      35000.0     17654.0    1.0  3.0  110.0      1
1     119900.0     11000.0    1.0  4.0  350.0      2
2     600000.0       110.0    1.0  8.0  675.0      3
3      65000.0     16329.0    1.0  4.0  180.0      1
4      80000.0     10000.0    1.0  3.0  150.0      4
...        ...         ...    ...  ...    ...    ...
9362   25000.0     48587.0    1.0  8.0  150.0      6
9369   35000.0     60000.0    1.0  9.0  220.0      7
9370  450000.0      3430.0    1.0  4.0  750.0     15
9371  139000.0     21300.0    1.0  4.0  400.0      7
9372   80000.0      7127.0    1.0  5.0  220.0      7

[7324 rows x 6 columns]

In [109]:
df.dtypes

price         float64
kms_driven    float64
owner         float64
age           float64
power         float64
brand           int64
dtype: object

In [110]:
cat_col=df.select_dtypes(include='object')

In [111]:
cat_col

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 22, 23, 24, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, ...]

[7324 rows x 0 columns]

In [112]:
num_col=df.select_dtypes(exclude='object')

In [113]:
num_col.to_csv("cleaned_used_bikes.csv")

In [114]:
x = df.drop('price',axis=1)
y = df[['price']]

In [115]:
x

      kms_driven  owner  age  power  brand
0        17654.0    1.0  3.0  110.0      1
1        11000.0    1.0  4.0  350.0      2
2          110.0    1.0  8.0  675.0      3
3        16329.0    1.0  4.0  180.0      1
4        10000.0    1.0  3.0  150.0      4
...          ...    ...  ...    ...    ...
9362     48587.0    1.0  8.0  150.0      6
9369     60000.0    1.0  9.0  220.0      7
9370      3430.0    1.0  4.0  750.0     15
9371     21300.0    1.0  4.0  400.0      7
9372      7127.0    1.0  5.0  220.0      7

[7324 rows x 5 columns]

In [116]:
y

         price
0      35000.0
1     119900.0
2     600000.0
3      65000.0
4      80000.0
...        ...
9362   25000.0
9369   35000.0
9370  450000.0
9371  139000.0
9372   80000.0

[7324 rows x 1 columns]

In [117]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [118]:
x_train

      kms_driven  owner   age  power  brand
5789     68857.0    1.0  15.0  110.0      1
3451      5740.0    1.0   6.0  500.0      2
735      28329.0    1.0   6.0  110.0      6
7533     42966.0    1.0   7.0  150.0      4
8461      8000.0    1.0   5.0  500.0      2
...          ...    ...   ...    ...    ...
6522     56000.0    1.0   9.0  200.0      7
6583     22493.0    1.0   5.0  500.0      2
6856     17477.0    1.0   5.0  150.0      7
1028     14836.0    1.0   8.0  150.0      4
9250      8000.0    1.0  10.0  250.0      5

[5859 rows x 5 columns]

In [119]:
y_train

         price
5789   18000.0
3451  140000.0
735    32000.0
7533   40000.0
8461  160000.0
...        ...
6522   48928.0
6583  114000.0
6856   41000.0
1028   40000.0
9250   80000.0

[5859 rows x 1 columns]

In [120]:
x_test.shape,y_test.shape,x_train.shape,y_train.shape

((1465, 5), (1465, 1), (5859, 5), (5859, 1))

In [121]:
from sklearn.linear_model import LinearRegression

In [124]:

# Drop rows with NaN values from training data
x_train_clean = x_train.dropna()
y_train_clean = y_train.loc[x_train_clean.index]

lr = LinearRegression()
lr.fit(x_train_clean, y_train_clean)

LinearRegression()

In [125]:
lr.score(x_train_clean, y_train_clean)

0.7055643295642162

In [127]:


# Drop rows with NaN values from test data
x_test_clean = x_test.dropna()

pred = lr.predict(x_test_clean)

In [128]:
pred

array([[125405.50970871],
       [216420.1902611 ],
       [ 97041.10677744],
       ...,
       [ 72455.06205772],
       [208775.32517321],
       [  9266.45997981]], shape=(1464, 1))

In [131]:
from sklearn.svm import SVC

# Drop rows with NaN values from x and y
x_clean = x.dropna()
y_clean = y.loc[x_clean.index]

sv = SVC()
sv.fit(x_clean, y_clean.values.ravel())

SVC()

In [132]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(x_clean, y_clean.values.ravel())
knn.score(x_clean, y_clean.values.ravel())

0.2246376811594203

In [133]:
knn.score(x_clean, y_clean.values.ravel())

0.2246376811594203